@import url('https://fonts.google.com/share?selection.family=Manrope:wght@200..800');
:root{
     --font-family:'Manrope',sans-serif;
     --color-bg:#040C18;
     --color-footer:#031B34;
     --color-blog:#042C54;
     --color-text:#81AFDD;
     --color-suntext:#FF8A71;
}